<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img data-src="egarage.jpg">
        <div class="caption">
          <h3><%= @username %></h3>
          <ul>
            <li>Total Views: <%= @view_count %></li>
            <li>Subscribers: <%= @subscriber_count %></li>
            <li>Total Videos: <%= @video_count %></li>
          </ul>
          <p><a href="#" class="btn btn-default" role="button">View</a></p>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <img data-src="egarage.jpg">
        <div class="caption">
          <h3>Should list channel.id</h3>
          <ul>
            <li>channel views</li>
            <li>channel subscriptions</li>
          </ul>
          <p><a href="#" class="btn btn-default" role="button">View</a></p>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <script>

</script> -->